<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <!--web.xml 中主要是配置ignite 的监听， 主要声明一个ContextListener和一个WebSessionsFilter-->
  <listener>
    <listener-class>org.apache.ignite.startup.servlet.ServletContextListenerStartup</listener-class>
  </listener>
  <filter>
    <filter-name>IgniteWebSessionsFilter</filter-name>
    <filter-class>org.apache.ignite.cache.websession.WebSessionFilter</filter-class>
  </filter>
  <!-- You can also specify a custom URL pattern. -->
  <filter-mapping>
    <filter-name>IgniteWebSessionsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- Specify Ignite configuration (relative to META-INF folder or Ignite_HOME). -->
  <context-param>
    <param-name>IgniteConfigurationFilePath</param-name>
    <param-value>config/default-config.xml </param-value>
  </context-param>
  <!-- Specify the name of Ignite cache for web sessions. -->
  <context-param>
    <param-name>IgniteWebSessionsCacheName</param-name>
    <param-value>partitioned</param-value>
  </context-param>

  <!--前端控制器-->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-*.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>
